<nav>
    <a id="nav-title" href="/partners/myDashboard">partners in wine</a>
    <div id = "icon-wrap">
        <a class="nav" href="/wines/index"><img class="icon" src ="../images/winecat-icon.png">wine catalogue</a>
        <a class="nav" href="/wineLists/index"><img class="icon" src ="../images/winelist-icon.png">wine lists</a>
        <a class="nav" href="/partners/allPartners"><img class="icon" src ="../images/winegroup-icon.png">find partners in wine</a>
        <a class="nav" href="/logout">Log Out</a>
    </div>
</nav>