<nav>
    <a href="/partners/myDashboard"><h1>partners in wine</h1></a>
    <div id = "icon-wrap">
        <a href="/wines/index"><img class="icon" src ="../images/winecat-icon.png">wine catalogue</a>
        <a href="/wineLists/index"><img class="icon" src ="../images/winelist-icon">create a wine list</a>
        <a href="/partners/allPartners"><img class="icon" src ="../images/winegroup-icon.png">find partners in wine</a>
        <a href="/logout">Log Out</a>
    </div>
</nav>