<!DOCTYPE html>
<html>
  <head>
    <title>Partners in Wine</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Raleway:400,600,800&display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="wrapper">
    <header>
      <p class = "title">partners in wine.</p>
    </header>
    <div>
      <p> Keep track of your favorite wines and see what your friends are drinking.</p><br>
      <p> Because the best wines are the ones we drink with friends.</p>
    </div>
    <button onclick="location.href='/auth/google'"><img id="google" src= "./images/google.png">Log in with your Google Account.</button>
    <img id="wine" src= "./images/wine-illus.png">
    </section>
  </body>
</html>
