* , *::after, *::before {
    box-sizing: border-box;
}
  
* {
margin: 0;
}

body {
    min-height: 100vh;
    min-width: 100vw;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 75vh;
    background-color:#e8e5e5;
}

#polaroid {
    position: relative;
    transform: rotate(2deg);
    width: 220px;
}

#polaroid {
    border: 10px solid #ffffff;
    border-bottom: 45px solid #ffffff;
    -webkit-box-shadow: 5px 5px px #777;
    -moz-box-shadow: 5px 5px 5px #777;
         box-shadow: 5px 5px 5px #777;
}

#polaroid p {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: -35px;
    color: #4F0A29;
    font-size: calc(14px + 0.5vw);
    font-family: 'Raleway', sans-serif;
  }

.profile {
    height: 200px;
    width: 200px;
}

#profile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2vmax;
    align-items: center;
    margin: 3vmax;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: calc(24px + 1vw);
    line-height: calc(40px + 1.5vw);
    color: #4F0A29;
}

#update {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: calc(20px + 1vw);
    line-height: calc(40px + 1.5vw);
    align-items: baseline;
}

.fa-edit {
    color: #4F0A29;
    font-size: calc(20px + 1vw);
}

.dashboard {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "my-wines"
        "friends";
    grid-gap: 3vmax;
}

#profile > form {
    display: flex;
    justify-content: center;
}

#profile > form > button {
    color: #4F0A29;
    font-size: calc(10px + 1vw);
}

#profile > form > input {
    border: 5px solid #e8e5e5; 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    font-size: calc(12px + 1vw);
    font-family: 'Raleway', sans-serif;
    color: #4F0A29;
}

.friends {
    grid-area: friends;
    padding: 2vmax;
}

.my-wine-lists {
    grid-area: my-wines;
    padding: 2vmax;
}

#list > a {
    display: flex;
    justify-content: baseline;
    margin: 0 0 0 20px;
}

#list > a > img {
    height: calc(20px + 1vw);
    margin: 0 10px 0 10px;
}

a {
    text-decoration: none;
    color: #4F0A29;
    font-family: 'Raleway', sans-serif;
    font-size: calc(20px + 1vw);
}

.all-partners.wrapper{
    display: flex;
    flex-wrap: wrap;
}