* , *::after, *::before {
    box-sizing: border-box;
}
  
* {
margin: 0;
}

/*  body css */

body {
    height: 100vh;
    min-width: 100vw;
}

.wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 100px;
}

/* profile css */

#profile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2vmax;
    align-items: center;
    margin: 3vmax;
}

#polaroid-wrapper {
    background-color: #e8e5e5;
    width: 250px;
    display:flex;
    justify-content: center;
}

#polaroid {
    position: relative;
    transform: rotate(2deg);
    width: 220px;
}

#polaroid {
    border: 10px solid #ffffff;
    border-bottom: 50px solid #ffffff;
    -webkit-box-shadow: 5px 5px px #1b1b1b;
    -moz-box-shadow: 5px 5px 5px #1b1b1b;
         box-shadow: 5px 5px 5px #1b1b1b;
}

#polaroid p {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: -35px;
    color: #4F0A29;
    font-size: calc(14px + 0.5vw);
    font-family: 'Raleway', sans-serif;
  }

.profile {
    height: 200px;
    width: 200px;
}

#update {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: calc(14px + 1vw);
    line-height: calc(40px + 1.5vw);
    align-items: baseline;
    margin-top: 2vh;
    color: #4F0A29;
}

#profile > form {
    display: flex;
    justify-content: center;
}

.fa-edit {
    color: #4F0A29;
    font-size: calc(20px + 1vw);
}

#profile > form > button {
    color: #4F0A29;
    font-size: calc(10px + 1vw);
}

#profile > form > input {
    border: none;
    border-bottom: 5px solid #e8e5e5; 
    padding: 15px;
    margin: 0 0 10px 0;
    font-size: calc(12px + 1vw);
    font-family: 'Raleway', sans-serif;
    color: #4F0A29;
}

/* typography styles */

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: calc(24px + 1vw);
    line-height: calc(40px + 1.5vw);
    color: #4F0A29;
}

/* dashboard css */

.dashboard {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "my-wines"
        "friends";
    grid-gap: 3vmax;
}

.my-wine-lists {
    grid-area: my-wines;
    padding: 2vmax;
}

.friends {
    grid-area: friends;
    padding: 2vmax;
}

#list > a {
    display: flex;
    justify-content: baseline;
    margin: 0 0 0 20px;
}

#list > a > img {
    height: calc(20px + 1vw);
    margin: 0 10px 0 10px;
}

a {
    text-decoration: none;
    color: #4F0A29;
    font-family: 'Raleway', sans-serif;
    font-size: calc(20px + 1vw);
}

#friends {
    height: 10vmin;
    width: 10vmin;
    border-radius: 50%;
    overflow-x: auto;
}

#friend-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw;
    color: #4F0A29;
    font-family: 'Raleway', sans-serif;
    font-size: calc(8px + 1vw);
    text-align: center;

}

#friend-profile > p {
    margin-top: 1vh;
}

#friend-wrap {
    display: flex;
    width: 40vw;
    overflow-y: auto;
}

/* all partners page css */

.all-partners-wrapper{
    
}

#partner-info {
    display: flex;;
}