/* nav css */
:root {
    --mainColor: #c499ae;
  }

nav {
    display: flex;
    width: 100vw;
    height: 12vh;
    background-color: #4F0A29;
    justify-content: space-between;
    align-items: center;
    padding: 1vmax;
}

#icon-wrap {
    width: 60vw;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}


#nav-title {
    color: #e8e5e5;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: calc(24px + 1vw);
    margin: 0;    
    letter-spacing: 1px;
    text-decoration: none;
}

.nav {
    color: #e8e5e5;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: calc(8px + 1vw);
    text-decoration: none;
    padding: 0 0 0 2vw;
    background:
    linear-gradient(
      to right,
      var(--mainColor) 0%,
      var(--mainColor) 5px,
      transparent 5px
    );
        background-repeat: repeat-x;
        background-size: 100%;
    padding-left: 10px;
}

a:hover {
    background-size: 4px 50px;
}

.icon {
    height: 2.5vmax;
    padding: 0 1vw 0 0;
}

#show {
    height: 3vh;
}

button {
    background-color: transparent;
    border: none;
}

.fa-trash-alt {
    color: #58595b;
    font-size: 15px;
}


/* footer */

footer {
    flex-shrink: 0;
}

footer {
    background-color:  #e8e5e5;;
    color: #58595b;
    border-top: 2px solid #58595b; 
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: calc(8px + 1vw);
    text-decoration: none;
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

   
  