* , *::after, *::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}

section {
  padding: 5vmin;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr [row-start]);
  justify-items: center;
  align-items: center;
}

.title {
  color: #4F0A29;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: calc(24px + 1vw);
  line-height: calc(40px + 1.5vw);
}

div {
  font-size: calc(14px + 1vw);
  font-family: 'Raleway', sans-serif;
  color: #1b1b1b;
  text-align: center;
  line-height: calc(24px + 0.5vw);
  padding: 1vmax;
}



button {
  background-color: transparent;
  border: 3px solid #4F0A29;
  border-radius: 5px;
  height: 5vmax;
  font-family: 'Raleway', sans-serif;
  font-size: calc(10px + 1vw);
  color: #4F0A29;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
}

#google {
  height: 3vmax;
}

#wine {
  height: 20vmax;
}