* , *::after, *::before {
    box-sizing: border-box;
}
  
* {
margin: 0;
}

/* body */

body {
    min-height: 100vh;
    min-width: 100vw;
}

#wine-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    grid-template-areas:
        "wine add-review"
        "review review";
    height: 100vh;
    justify-items: center;
    align-content: center;
}

#edit-wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

/* typography styles */

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: calc(24px + 1vw);
    line-height: calc(40px + 1.5vw);
    color: #4F0A29;
}

h3 {
    color: #4F0A29;
    font-size: calc(10px + 1vw);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

p {
    color: #4F0A29;
    font-size: calc(8px + 1vw);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 5px;
}


#show-wine-details {
    margin: 3vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
    border-spacing: 1rem;
    font-size: 1.5vmax;
    letter-spacing: 1px;
    background-color: white;
}

thead {
    color: #4F0A29;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #4F0A29;

}

tbody{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;;
}

th {
    text-align: left;
    padding: 0.5rem;
}

td {
    padding: 0.5rem;
    text-align: center;
}


#show-wine  > tbody tr:hover {
    background: #c499ae;
}

.fa-edit {
    color: #4F0A29;
    font-size: calc(14px + 1vw);
}

hr {
    border-top: 1px solid #4F0A29;
    width: 50vw;
}

#add-review-form, #edit-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: #58595b;
    border: 1px solid #4F0A29;
    margin: 2vmax;
    padding: 1vmax;
    background-color: white;
    width: 40vw;
}

#add-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vmax;
}

select {
    background-color: transparent;
    width: 10vw;
    padding: 18px 22px;
    border: none;
    border-radius: 5px;
    background-color: #e8e5e5;
    text-align: center;
}

.add {
    background-color: #4F0A29;
    color: #e8e5e5;
    font-family: 'Raleway', sans-serif;
    font-size: calc(10px + 1vw);
    height: 4vmax;
    width: 25vmax;
    border-radius: 5px;
    margin: 2vmax;
}

form > label {
    margin: 1max 0;
}

/* review table */

#reviews { 
    grid-area: review;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    border-collapse: collapse;
    border-spacing: 1rem;
    font-size: 1.5vmax;
    letter-spacing: 1px;
    background-color: white;
}

#reviews > tbody tr:hover {
    background: #c499ae;
}

#reviews > h3 {
    text-align: center;
}

#reviews {
    overflow-y: scroll;
    height: 40vh;
    display: block;
}

#reviews > thead {
    background-color: #4F0A29;
    color: #e8e5e5;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;;
}

#reviews > tbody{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;;
}


#reviews > td {
    padding: 0.5rem;
    text-align: left;
}

#reviews >p {
    text-align: center;
}