<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>
    <section id="wine-cat-show">
      <header class="wine-header">
        <h1>Add a new wine <br>to the Wine Catalogue</h1>
      </header>

    <form action="/wines" method="POST">
        <label id="wine-name"> Wine Name:
            <input type="text" name="name">
        </label>
        <label id="color"> Color:
            <select name="color">
                <option value="Red">Red</option>
                <option value="White">White</option>
                <option value="Rose">Rose</option>
            </select>
        </label>
        <label id="type"> Type:
            <input type="text" name="type">
        </label>
        <label id="country"> Country:
            <input type="text" name="country">
        </label>
        <input class="add" type="submit" value="Add Wine">
    </form>
    </section>
    <%- include('../partials/footer') %>
  </body>
</html>