<!DOCTYPE html>
<html>
<%- include('../partials/head') %>

<body>
  <%- include('../partials/nav') %>
  <section id="wine-cat-show">
    <header class="wine-header">
      <img id="profile" src="<%= partner.avatar %>">
      <h1> my wine lists</h1>
    </header>
    <p>my wine lists</p>
    <button class="new-winelist" onclick="location.href='/wineLists/new'"> Create new wine list </button>
  </section>
</body>

</html>