<!DOCTYPE html>
<html>
<%- include('../partials/head') %>

<body>
  <%- include('../partials/nav') %>
  <section id="wine-cat-show">
    <header class="wine-header">
      <h1>Create a new wine list</h1>
    </header>

    <form action="/wineLists" method="POST">
      <label id="winelist-name"> Wine List Name:
        <input type="text" name="name">
      </label>
      <label>Description:
        <textarea name="content"></textarea>
      </label>
      <label id="wine"> Add Wine:
        <select name="wines">
          <% wine.forEach(function(wine) { %>
          <option value="wines"><%= wine.name %></option>
          <% }) %>
        </select>
      </label>
      <input class="add" type="submit" value="Create Wine List">
    </form>
  </section>
  <%- include('../partials/footer') %>
</body>

</html>